<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registroClienteNuevo</servlet-name>
        <servlet-class>Controladores.registroClienteNuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cambiarPassCliente</servlet-name>
        <servlet-class>Controladores.cambiarPassCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginUsuarios</servlet-name>
        <servlet-class>Controladores.loginUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deslogearUsuario</servlet-name>
        <servlet-class>Controladores.deslogearUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>modificarDatosCliente</servlet-name>
        <servlet-class>Controladores.modificarDatosCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarmodiusu</servlet-name>
        <servlet-class>Controladores.buscarmodiusu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifiUsuarioAdmin</servlet-name>
        <servlet-class>Controladores.ModifiUsuarioAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarelimiusu</servlet-name>
        <servlet-class>Controladores.buscarelimiusu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuarioAdmin</servlet-name>
        <servlet-class>Controladores.EliminarUsuarioAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscarVentas</servlet-name>
        <servlet-class>Controladores.buscarVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresarCoti</servlet-name>
        <servlet-class>Controladores.IngresarCoti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>buscardetallecoti</servlet-name>
        <servlet-class>Controladores.buscardetallecoti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresarDetalleCoti</servlet-name>
        <servlet-class>Controladores.IngresarDetalleCoti</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registroClienteNuevo</servlet-name>
        <url-pattern>/registroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cambiarPassCliente</servlet-name>
        <url-pattern>/restablecerPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginUsuarios</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deslogearUsuario</servlet-name>
        <url-pattern>/deslogServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>modificarDatosCliente</servlet-name>
        <url-pattern>/datosClientesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarmodiusu</servlet-name>
        <url-pattern>/buscarmodiusu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifiUsuarioAdmin</servlet-name>
        <url-pattern>/ModifiUsuarioAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarelimiusu</servlet-name>
        <url-pattern>/buscarelimiusu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuarioAdmin</servlet-name>
        <url-pattern>/EliminarUsuarioAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscarVentas</servlet-name>
        <url-pattern>/buscarVentas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresarCoti</servlet-name>
        <url-pattern>/IngresarCoti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>buscardetallecoti</servlet-name>
        <url-pattern>/buscardetallecoti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresarDetalleCoti</servlet-name>
        <url-pattern>/IngresarDetalleCoti</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
